<div class="loginBloc">
    <h2>Connexion</h2>
    <div class="formField">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>login</mat-label>
                <input matInput [(ngModel)]="user.login" placeholder="login" autocomplete="off">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>mot de passe</mat-label>
                <input type="password" [(ngModel)]="user.password" matInput placeholder="mot de passe">
            </mat-form-field>
        </div>
        <p style="color: red;"> {{ error }} </p>
        <div>
            <button mat-raised-button (click)="login()">Connexion</button>
        </div>
    </div>
</div>