<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="isConnected && authUser">
      <mat-icon (click)="sidenav?.toggle()">menu</mat-icon>
    </button>
    <h1>Blog Improve</h1>

    <span class="right-spacer"></span>
    <button *ngIf="isConnected && authUser" mat-button [matMenuTriggerFor]="menu">{{authUser.login}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Mon Profil</button>
      <button mat-menu-item (click)="logout()">Déconnexion</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav *ngIf="isConnected && authUser" #sidenav [opened]="true" [attr.color]="'accent'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/articles'"> Articles </a>
      <a mat-list-item [routerLink]="'/followers'"> Mes followers </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 91vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>